/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
/* this is for the background of the logpo  */



.mango {
  background-color: #070f2b;
}

/* this is the css for the logo melsoft */
.logo-default {
  height: 200px;
}

/* overall header container that covers the header and we changed its colour to this  */
#header-wrap {
  background-color: #070f2b !important;
}

/* all the nav links that have this class , we are changing their colour to white  */
.menu-link {
  color: white;
}

.imgthree {
  height: 900px;
}

/* background color for the sections */
#slider,
#content,
#footer {
  background-color: #070f2b;
}
/* text color for all text in the page */
p,
h3,
h4,
small {
  color: white !important;
}
/* text color for all contact section */
ul,
li {
  color: white !important;
}
